{% extends "base.html" %}

{% block content %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Istrinti filma</legend>
            <h2>Ar tikrai norite ištrinti filma is saraso?</h2>
            <p>{{ object.id }} {{ object.filmas }} {{ object.filmas.aktoriusFK }}</p>
            <p>{{ object.get_status_display }}</p>
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-danger" type="submit">Taip, istrinti
            </button>
            <a class="btn btn-outline-secondary" href="{% url 'my-borrowed' %}">Atsaukti</a>
        </div>
    </form>
</div>
{% endblock content %}