{% extends "base.html" %}

{% block content %}
<img class="img-fluid rounded-circle" src="{{ user.profilis.nuotrauka.url }}" style="width: 150px; height: 150px;"/>
<p class="text-primary">{{ user.username }}</p>
<p class="text-secondary">{{ user.email }}</p>

<h1>Mano filmai {{ user.groups.all }} </h1>
{% for group in user.groups.all %}
    <p>{{ group.name }}</p>
{% endfor %}
{% if filmasinstance_list %}
<ul>
    {% for filmasinst_o in filmasinstance_list %}

    <li class="{% if filmasinst_o.is_overdue %}text-danger{% endif %}">
        <a href="{% url 'filamas-vienas' filmasinst_o.filmas.id %}">
            {{ filmasinst_o.id }} {{ filmasinst_o.filmas }} {{ filmasinst_o.filmas.aktorius }} </a>
    </li>
    <a class="btn btn-secondary btn-sm" href="{% url 'my-borrowed-update' filmasinst_o.id %}">Redaguoti</a>
        {% for group in user.groups.all %}
            {% if group.name == "Personalas"  %}
                <a class="btn btn-danger btn-sm" href="{% url 'my-borrowed-delete' filmasinst_o.id %}">Ištrinti</a>
            {% endif %}
        {% endfor %}
    {% endfor %}
</ul>
{% else %}
<p>Šiuo metu jūs neturite jokių filmu</p>
{% endif %}
{% endblock %}